header{
  background-color: lightblue;
}
.action_button li {
  float: left;
  list-style:none;
  margin-left: 2px;
  margin-bottom: 3px;
}
.tweet p{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button  {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px black;
  width: 20px;
  font-size: 10px;
  background-color: lightblue;
}
footer{
  text-align: center;
  background-color: lightblue
}
